Repository woowacourse-teams/2021-drop-the-code, pull requests merged in 2021-09, with the labels that each got.

#305 styled-normalize 라이브러리 삭제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GlobalStyle/GlobalStyle.tsx
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 📚 chore 📚, 🛠 fix 🛠

#308 테스트 컨텍스트 캐시 적용
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/config/CacheConfig.java
  backend/src/main/java/com/wootech/dropthecode/exception/GlobalExceptionHandler.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/wootech/dropthecode/ControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/IntegrationTest.java
  backend/src/test/java/com/wootech/dropthecode/config/EmbeddedRedisConfig.java
  backend/src/test/java/com/wootech/dropthecode/controller/AuthControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/FeedbackControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/LanguageControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/MemberControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/RestApiDocumentTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#315 엔티티 저장 시 Auditing이 적용안되도록 수정
  backend/src/test/java/com/wootech/dropthecode/repository/ReviewRepositoryCustomImplTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🛠 fix 🛠

#320 로깅 profile에 dev 추가
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🛠 fix 🛠

#318 feat: 더미 데이터 운영 서버에서 제외
  backend/src/main/java/com/wootech/dropthecode/util/DataInitializer.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#312 헤더 네비게이션 메뉴 드롭다운 형식으로 변경 및 채팅 페이지 UI 구현
  frontend/src/__mock__/data/chatting.ts
  frontend/src/apis/chatting.ts
  frontend/src/components/CareerPicker/CareerPicker.tsx
  frontend/src/components/Chatting/ChattingList.tsx
  frontend/src/components/Chatting/CurrentChatting.tsx
  frontend/src/components/Chatting/LeftSingleMessage.tsx
  frontend/src/components/Chatting/RightSingleMessage.tsx
  frontend/src/components/DropDownMenu/DropDownMenu.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/MenuItemButton/MenuItemButton.tsx
  frontend/src/components/shared/Button/Button.tsx
  frontend/src/hooks/useChattingList.ts
  frontend/src/pages/Chatting/Chatting.tsx
  frontend/src/types/chatting.d.ts
  frontend/src/utils/constants/key.ts
  frontend/src/utils/constants/path.ts
  frontend/src/utils/constants/route.ts
  frontend/src/utils/formatter.ts
  frontend/webpack.dev.ts
Labels: 🔫 feature 🔫, 🧞‍♂️ FRONTEND 🧞‍♂️

#323 개인 정보 수정 및 탈퇴한 경우 유저 정보 갱신
  frontend/src/components/Auth/AuthProvider/AuthProvider.tsx
  frontend/src/components/Reviewer/MyReviewerEdit/MyReviewerEdit.tsx
  frontend/src/components/Reviewer/MyReviewerInfo/MyReviewerInfo.tsx
  frontend/src/hooks/useAuthContext.ts
  frontend/src/pages/ReviewerRegister/ReviewerRegister.tsx
  frontend/src/utils/constants/key.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🛠 fix 🛠

#326 SEO 개선
  frontend/package-lock.json
  frontend/package.json
  frontend/public/robots.txt
  frontend/server/Html.tsx
  frontend/server/constants/metaRoute.tsx
  frontend/server/index.tsx
  frontend/src/assets/og.jpg
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
  frontend/src/components/Reviewer/FeedbackCard/FeedbackCard.tsx
  frontend/src/components/Reviewer/ReviewerCard/ReviewerCard.tsx
  frontend/src/components/Reviewer/ReviewerFloatingBox/ReviewerFloatingBox.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/types/assets.d.ts
  frontend/src/utils/constants/message.ts
  frontend/webpack.server.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🏊‍♀️ performance 🏊‍♀️

#316 STOMP를 이용한 웹 소켓 연결 및 채팅 저장 기능 구현
  backend/build.gradle
  backend/src/main/generated/com/wootech/dropthecode/domain/QMember.java
  backend/src/main/generated/com/wootech/dropthecode/domain/chatting/QChat.java
  backend/src/main/generated/com/wootech/dropthecode/domain/chatting/QRoom.java
  backend/src/main/java/com/wootech/dropthecode/config/WebSocketConfig.java
  backend/src/main/java/com/wootech/dropthecode/controller/ChattingController.java
  backend/src/main/java/com/wootech/dropthecode/controller/RoomController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/chatting/Chat.java
  backend/src/main/java/com/wootech/dropthecode/domain/chatting/Room.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/ChatRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/RoomRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ChatResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LatestChatResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/RoomIdResponse.java
  backend/src/main/java/com/wootech/dropthecode/repository/ChatRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/RoomRepository.java
  backend/src/main/java/com/wootech/dropthecode/service/ChattingService.java
  backend/src/main/java/com/wootech/dropthecode/service/RoomService.java
  backend/src/main/resources/db/migration/V2__create_chat_room.sql
  backend/src/test/java/com/wootech/dropthecode/ControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/ChattingControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/RoomControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/util/RestDocsMockMvcUtils.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️, 🗄 DB change 🗄

#329 폰트 개선
  frontend/package-lock.json
  frontend/package.json
  frontend/server/Html.tsx
  frontend/src/components/GlobalStyle/GlobalStyle.tsx
  frontend/webpack.common.ts
  frontend/webpack.dev.ts
  frontend/webpack.prod.ts
  frontend/webpack.server.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🏊‍♀️ performance 🏊‍♀️

#335 역할과 상관없이 두 멤버가 하나의 채팅방을 사용하도록 수정
  backend/src/main/java/com/wootech/dropthecode/repository/RoomRepository.java
Labels: 🪲 bug 🪲, 🧞‍♀️ BACKEND 🧞‍♀️

#336 INFO_LOG에 sql, access, error 로그 추가
  backend/src/main/resources/appender/access-file-appender.xml
  backend/src/main/resources/appender/info-file-appender.xml
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨

#344 ui 개선, 접근성 개선
  frontend/src/components/GlobalStyle/GlobalStyle.tsx
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Reviewer/ReviewerCard/ReviewerCard.tsx
  frontend/src/components/Reviewer/ReviewerInfoContainer/ReviewerInfoContainer.tsx
  frontend/src/pages/ReviewerDetail/ReviewerDetail.test.tsx
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨

#341 번들파일 청크 단위로 병렬 다운로드
  frontend/package-lock.json
  frontend/package.json
  frontend/server/Html.tsx
  frontend/webpack.prod.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨, 🏊‍♀️ performance 🏊‍♀️

#334 JPA 엔티티 및 쿼리 캐시
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/config/CacheConfig.java
  backend/src/main/java/com/wootech/dropthecode/domain/Feedback.java
  backend/src/main/java/com/wootech/dropthecode/domain/Language.java
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/Skill.java
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/LanguageSkill.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/TeacherLanguage.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/TeacherSkill.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/Review.java
  backend/src/main/java/com/wootech/dropthecode/repository/LanguageRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/MemberRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/SkillRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/TeacherProfileRepository.java
  backend/src/main/java/com/wootech/dropthecode/util/DataInitializer.java
  backend/src/main/resources/application-local-init.properties
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/ehcache.xml
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/builder/MemberBuilder.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/CachingTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/LanguageCachingTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/MemberCachingTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/ReviewCachingTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/SkillCachingTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/cache/TeacherProfileCachingTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#347 접근성 관련 마크업 리팩터링
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/Chatting/ChattingList.tsx
  frontend/src/components/Chatting/CurrentChatting.tsx
  frontend/src/components/Chatting/LeftSingleMessage.tsx
  frontend/src/components/Chatting/RightSingleMessage.tsx
  frontend/src/components/DropDownMenu/DropDownMenu.tsx
  frontend/src/components/Error/Error.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/shared/Avatar/Avatar.stories.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/utils/constants/message.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨, 🏊‍♀️ performance 🏊‍♀️
