Repository woowacourse-teams/2021-drop-the-code, pull requests merged in 2021-08, with the labels that each got.

#204 dummy data 수정
  backend/src/main/java/com/wootech/dropthecode/util/DataInitializer.java
Labels: 🔨 refactor 🔨, 🧞‍♀️ BACKEND 🧞‍♀️

#205 상세 리뷰 조회 컴포넌트에 Suspense 추가
  frontend/src/components/Reviewer/ReviewerInfoContainer/ReviewerInfoContainer.tsx
Labels: 🛠 fix 🛠, 🧞‍♂️ FRONTEND 🧞‍♂️

#206 컴포넌트의 상태 변경이 비동기적으로 일어나도록 변경
  frontend/.storybook/preview.js
  frontend/src/components/Transititon/Transition.tsx
Labels: 🛠 fix 🛠, 🧞‍♂️ FRONTEND 🧞‍♂️

#207 쿼리키 올바르게 수정
  frontend/src/components/Auth/AuthProvider/AuthProvider.tsx
  frontend/src/components/Review/ReviewInfoContainer/ReviewInfoContainer.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/components/Review/ReviewRequest/ReviewRequest.tsx
  frontend/src/components/Reviewer/ReviewerInfoContainer/ReviewerInfoContainer.tsx
  frontend/src/hooks/useLanguageList.ts
  frontend/src/hooks/useReviewerList.ts
  frontend/src/pages/RedirectOAuth/RedirectOAuth.tsx
  frontend/src/pages/ReviewerRegister/ReviewerRegister.tsx
  frontend/src/utils/constants/key.ts
Labels: 🛠 fix 🛠, 🧞‍♂️ FRONTEND 🧞‍♂️

#210 리뷰어 목록에서 리뷰어가 스킬을 갖고 있지 않은 경우 제외되는 버그 수정
  backend/src/main/java/com/wootech/dropthecode/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/wootech/dropthecode/repository/TeacherFilterRepositoryImpl.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🪲 bug 🪲

#226 리뷰어 삭제 기능 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/config/WebMvcConfig.java
  backend/src/main/java/com/wootech/dropthecode/controller/MemberController.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/test/java/com/wootech/dropthecode/controller/MemberControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#229 리뷰어 수정 기능 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/controller/MemberController.java
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/java/com/wootech/dropthecode/repository/bridge/TeacherLanguageRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/bridge/TeacherSkillRepository.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherLanguageService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherSkillService.java
  backend/src/test/java/com/wootech/dropthecode/controller/MemberControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#231 리뷰 수정 기능 추가
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Review.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/ReviewRequest.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#235 언어 및 기술 스택 정렬
  backend/src/main/java/com/wootech/dropthecode/dto/response/TeacherProfileResponse.java
  backend/src/main/java/com/wootech/dropthecode/repository/TeacherFilterRepositoryImpl.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#227 멤버 본인 삭제 기능 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/config/WebMvcConfig.java
  backend/src/main/java/com/wootech/dropthecode/controller/MemberController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/Role.java
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/test/java/com/wootech/dropthecode/controller/MemberControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#234 Pending 상태의 리뷰 요청 취소 기능 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Progress.java
  backend/src/main/java/com/wootech/dropthecode/domain/Review.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#238 ui 리팩터링 및 api 직렬화 코드 수정
  frontend/src/apis/auth.ts
  frontend/src/components/GlobalStyle/GlobalStyle.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.stories.tsx
  frontend/src/components/Review/ReviewInfoContainer/ReviewInfoContainer.tsx
  frontend/src/pages/ReviewerRegister/ReviewerRegister.tsx
  frontend/src/utils/constants/message.ts
  frontend/src/utils/validators/reviewRequestValidators.ts
  frontend/src/utils/validators/reviewerRegisterValidators.ts
Labels: 🔨 refactor 🔨, 🛠 fix 🛠, 🧞‍♂️ FRONTEND 🧞‍♂️

#239 custom exception에 대한 로깅을 추가
  backend/src/main/java/com/wootech/dropthecode/exception/GlobalExceptionHandler.java
  backend/src/main/resources/appender/error-file-appender.xml
  backend/src/main/resources/appender/info-file-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🛠 fix 🛠, 🧞‍♀️ BACKEND 🧞‍♀️

#244 리뷰어 등록 페이지 테스트
  frontend/src/__mock__/data/languages.ts
  frontend/src/pages/ReviewerDetail/ReviewerDetail.test.tsx
  frontend/src/pages/ReviewerRegister/ReviewerRegister.test.tsx
Labels: 🔨 refactor 🔨, 🕵🏻‍♀️ test 🕵🏻, 🧞‍♂️ FRONTEND 🧞‍♂️

#243 lombok으로 전환
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/config/WebMvcConfig.java
  backend/src/main/java/com/wootech/dropthecode/controller/MemberController.java
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/BaseEntity.java
  backend/src/main/java/com/wootech/dropthecode/domain/Language.java
  backend/src/main/java/com/wootech/dropthecode/domain/LoginMember.java
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/Progress.java
  backend/src/main/java/com/wootech/dropthecode/domain/Review.java
  backend/src/main/java/com/wootech/dropthecode/domain/Skill.java
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/LanguageSkill.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/TeacherLanguage.java
  backend/src/main/java/com/wootech/dropthecode/domain/bridge/TeacherSkill.java
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/OauthAttributes.java
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/OauthProvider.java
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/UserProfile.java
  backend/src/main/java/com/wootech/dropthecode/dto/ReviewSummary.java
  backend/src/main/java/com/wootech/dropthecode/dto/TechSpec.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/AuthorizationRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/RefreshTokenRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/ReviewRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/ReviewSearchCondition.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/TeacherFilterRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/TeacherRegistrationRequest.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/AccessTokenResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LanguageResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LanguageSkillsResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LoginResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/MemberResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/OauthTokenResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ProfileResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ReviewResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ReviewsResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/SkillResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/TeacherPaginationResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/TeacherProfileResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/TechSpecResponse.java
  backend/src/main/java/com/wootech/dropthecode/service/OauthService.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/main/java/com/wootech/dropthecode/util/DataInitializer.java
  backend/src/main/java/com/wootech/dropthecode/util/LocalDateTimeToArray.java
  backend/src/main/java/lombok.config
  backend/src/test/java/com/wootech/dropthecode/builder/MemberBuilder.java
  backend/src/test/java/com/wootech/dropthecode/builder/ReviewBuilder.java
  backend/src/test/java/com/wootech/dropthecode/builder/TeacherProfileBuilder.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/MemberTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/wootech/dropthecode/repository/ReviewRepositoryCustomImplTest.java
  backend/src/test/java/com/wootech/dropthecode/service/AuthServiceTest.java
  backend/src/test/java/com/wootech/dropthecode/service/MemberServiceTest.java
  backend/src/test/java/com/wootech/dropthecode/service/ReviewServiceTest.java
Labels: 🔨 refactor 🔨, 🧞‍♀️ BACKEND 🧞‍♀️

#246 access token 갱신 요청 인터셉터 거치지 않게 하기
  backend/src/main/java/com/wootech/dropthecode/config/WebMvcConfig.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
Labels: 🔨 refactor 🔨, 🧞‍♀️ BACKEND 🧞‍♀️

#245 마이페이지 테스트
  frontend/src/App.tsx
  frontend/src/__mock__/server.ts
  frontend/src/components/Auth/AuthProvider/AuthProvider.tsx
  frontend/src/components/Reviewer/MyReviewerEdit/MyReviewerEdit.tsx
  frontend/src/hooks/useAuthContext.ts
  frontend/src/pages/MyPage/MyPage.test.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/utils/constants/path.ts
Labels: 🔨 refactor 🔨, 🕵🏻‍♀️ test 🕵🏻, 🛠 fix 🛠, 🧞‍♂️ FRONTEND 🧞‍♂️

#211 Oauth 예외 처리 구현
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/InMemoryProviderRepository.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/OauthTokenResponse.java
  backend/src/main/java/com/wootech/dropthecode/exception/OauthTokenRequestException.java
  backend/src/main/java/com/wootech/dropthecode/service/OauthService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/wootech/dropthecode/controller/AuthControllerTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#248 리뷰어 삭제 없이 유저 삭제를 한 경우 리뷰어 재등록이 안되는 오류 수정
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
Labels: 🛠 fix 🛠, 🧞‍♀️ BACKEND 🧞‍♀️

#247 학생 측에서 리뷰 종료 시 피드백 기능 구현
  backend/src/main/generated/com/wootech/dropthecode/domain/QFeedback.java
  backend/src/main/generated/com/wootech/dropthecode/domain/QReview.java
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Feedback.java
  backend/src/main/java/com/wootech/dropthecode/domain/Review.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/FeedbackRequest.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepository.java
  backend/src/main/java/com/wootech/dropthecode/service/FeedbackService.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/ReviewTest.java
Labels: 📝 docs 📝, 🔫 feature 🔫, 🗄 DB change 🗄, 🧞‍♀️ BACKEND 🧞‍♀️

#251 리뷰 생성시 PENDING 상태로 생성
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
Labels: 🪲 bug 🪲, 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨

#255 refactor: ui 리팩터링
  frontend/src/__mock__/data/reviewers.ts
  frontend/src/components/GlobalStyle/GlobalStyle.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Language/LanguageList.tsx
  frontend/src/components/Language/SpecPicker.tsx
  frontend/src/components/ModalProvider/Modal.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
  frontend/src/components/Reviewer/MyReviewerEdit/MyReviewerEdit.tsx
  frontend/src/components/Reviewer/MyReviewerInfo/MyReviewerInfo.tsx
  frontend/src/components/Reviewer/ReviewerFloatingBox/ReviewerFloatingBox.tsx
  frontend/src/components/shared/Navigation/Navigation.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/types/reviewer.d.ts
  frontend/src/utils/constants/message.ts
  frontend/src/utils/constants/standard.ts
  frontend/src/utils/validators/reviewFeedBackValidators.ts
Labels: 🔫 feature 🔫, 🧞‍♂️ FRONTEND 🧞‍♂️

#257 DB 마이그레이션 전략 설정
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/db/migration/V1__create.sql
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#261 Guide 페이지구현
  frontend/src/assets/down-arrow.svg
  frontend/src/assets/guide/reviewRequest/index.ts
  frontend/src/assets/guide/reviewRequest/review-request-guide-1.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-2.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-3.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-4.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-5.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-6.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-7.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-8.png
  frontend/src/assets/guide/reviewRequest/review-request-guide-9.png
  frontend/src/assets/next-carousel-arrow.svg
  frontend/src/assets/prev-carousel-arrow.svg
  frontend/src/assets/student.svg
  frontend/src/assets/teacher.svg
  frontend/src/assets/up_arrow.svg
  frontend/src/components/Auth/OAuth/GithubOAuth.tsx
  frontend/src/components/Carousel/Carousel.stories.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/ModalProvider/Modal.tsx
  frontend/src/components/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
  frontend/src/components/Review/ReviewInfoContainer/ReviewInfoContainer.tsx
  frontend/src/components/Review/ReviewRequest/ReviewRequest.tsx
  frontend/src/components/Reviewer/MyReviewerEdit/MyReviewerEdit.tsx
  frontend/src/components/Reviewer/ReviewerFloatingBox/ReviewerFloatingBox.tsx
  frontend/src/components/Reviewer/ReviewerInfoContainer/ReviewerInfoContainer.tsx
  frontend/src/pages/Guide/Guide.tsx
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/utils/constants/path.ts
  frontend/src/utils/constants/route.ts
Labels: 🔫 feature 🔫, 🧞‍♂️ FRONTEND 🧞‍♂️

#266 cross-env를 webpack cli node-env옵션으로 대체
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.dev.ts
  frontend/webpack.prod.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 📚 chore 📚

#260 선생님 리뷰 수락 / 거절 기능 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/generated/com/wootech/dropthecode/domain/QFeedback.java
  backend/src/main/generated/com/wootech/dropthecode/domain/QMember.java
  backend/src/main/generated/com/wootech/dropthecode/domain/review/QReview.java
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Feedback.java
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/TeacherProfile.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/CompletedReview.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/OnGoingReview.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/PendingReview.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/ProgressReview.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/Review.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/TeacherProfileResponse.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/ReviewRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/wootech/dropthecode/service/FeedbackService.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/main/java/com/wootech/dropthecode/util/DataInitializer.java
  backend/src/test/java/com/wootech/dropthecode/builder/ReviewBuilder.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/CompletedReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/OnGoingReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/PendingReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/wootech/dropthecode/repository/ReviewRepositoryCustomImplTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#267 메인 페이지 변경
  frontend/src/__mock__/server.ts
  frontend/src/assets/guide.svg
  frontend/src/assets/register.svg
  frontend/src/assets/search.svg
  frontend/src/components/Auth/AuthRoute/AuthRoute.tsx
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/MenuItemButton/MenuItemButton.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/components/Review/ReviewRequest/ReviewRequest.test.tsx
  frontend/src/components/Reviewer/MyReviewerInfo/MyReviewerInfo.tsx
  frontend/src/components/Reviewer/ReviewerCard/ReviewerCard.tsx
  frontend/src/components/Transititon/Transition.tsx
  frontend/src/components/shared/ContentBox/ContentBox.tsx
  frontend/src/pages/Guide/Guide.tsx
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/MyPage/MyPage.test.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/ReviewerSearch/ReviewerSearch.stories.tsx
  frontend/src/pages/ReviewerSearch/ReviewerSearch.test.tsx
  frontend/src/pages/ReviewerSearch/ReviewerSearch.tsx
  frontend/src/theme/theme.ts
  frontend/src/types/styled/common.d.ts
  frontend/src/utils/constants/message.ts
  frontend/src/utils/constants/path.ts
  frontend/src/utils/constants/route.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨

#262 SonarQube, Jacoco 설정
  backend/build.gradle
  backend/src/main/java/lombok.config
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#263 예외 처리 수정
  backend/src/main/java/com/wootech/dropthecode/controller/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/wootech/dropthecode/domain/LoginMember.java
  backend/src/main/java/com/wootech/dropthecode/exception/AuthenticationException.java
  backend/src/main/java/com/wootech/dropthecode/exception/AuthorizationException.java
  backend/src/main/java/com/wootech/dropthecode/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/wootech/dropthecode/exception/NotFoundException.java
  backend/src/main/java/com/wootech/dropthecode/service/AuthService.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/test/java/com/wootech/dropthecode/controller/AuthControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/LoginMemberTest.java
  backend/src/test/java/com/wootech/dropthecode/service/AuthServiceTest.java
  backend/src/test/java/com/wootech/dropthecode/service/MemberServiceTest.java
  backend/src/test/java/com/wootech/dropthecode/service/ReviewServiceTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨

#268 피드백 목록 조회 구현
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/wootech/dropthecode/controller/FeedbackController.java
  backend/src/main/java/com/wootech/dropthecode/domain/Feedback.java
  backend/src/main/java/com/wootech/dropthecode/dto/request/FeedbackSearchCondition.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/FeedbackPaginationResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/FeedbackResponse.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepository.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepositoryCustom.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepositoryCustomImpl.java
  backend/src/main/java/com/wootech/dropthecode/service/FeedbackService.java
  backend/src/test/java/com/wootech/dropthecode/controller/FeedbackControllerTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#269 리뷰 상태 갱신 및, 수정 삭제 기능 구현
  frontend/src/apis/review.ts
  frontend/src/components/Review/ReviewEdit/ReviewEdit.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
  frontend/src/components/Review/ReviewInfoContainer/ReviewInfoContainer.tsx
  frontend/src/hooks/useReview.ts
  frontend/src/types/review.d.ts
  frontend/src/utils/constants/message.ts
Labels: 🔫 feature 🔫, 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨

#272 리뷰어 등록페이지 리다이렉트 추가
  frontend/src/components/Auth/AuthRoute/AuthRoute.tsx
  frontend/src/pages/ReviewerRegister/ReviewerRegister.tsx
  frontend/src/utils/constants/message.ts
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🛠 fix 🛠

#273 페이지네이션 적용
  frontend/src/apis/review.ts
  frontend/src/components/Pagination/Pagination.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/components/Reviewer/ReviewerList/ReviewerList.tsx
  frontend/src/hooks/useLanguageList.ts
  frontend/src/hooks/useReviewList.ts
  frontend/src/hooks/useReviewerList.ts
  frontend/src/pages/ReviewerSearch/ReviewerSearch.test.tsx
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🔨 refactor 🔨, 🕵🏻‍♀️ test 🕵🏻

#276 리뷰 상태 업데이트(ON_GOING -> TEACHER_COMPELTE) NPE 발생
  backend/src/main/java/com/wootech/dropthecode/dto/request/TeacherRegistrationRequest.java
Labels: 🪲 bug 🪲, 🧞‍♀️ BACKEND 🧞‍♀️

#274 minify 플러그인 옵션 및 오류 수정
  frontend/babel.config.js
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.stories.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
Labels: 🪲 bug 🪲, 🗣 discussion 🗣, 🧞‍♂️ FRONTEND 🧞‍♂️, 🛠 fix 🛠

#278 피드백 목록 조회 기능 UI 및 기능 구현
  frontend/src/apis/reviewer.ts
  frontend/src/assets/no-feedback.png
  frontend/src/components/FormProvider/SubmitButton.tsx
  frontend/src/components/Review/ReviewFeedback/ReviewFeedback.tsx
  frontend/src/components/Reviewer/FeedbackCard/FeedbackCard.stories.tsx
  frontend/src/components/Reviewer/FeedbackCard/FeedbackCard.tsx
  frontend/src/components/Reviewer/FeedbackList/FeedbackList.tsx
  frontend/src/components/Reviewer/ReviewerInfoContainer/ReviewerInfoContainer.tsx
  frontend/src/hooks/useFeedbackList.ts
  frontend/src/pages/Guide/Guide.tsx
  frontend/src/pages/ReviewerRegister/ReviewerRegister.tsx
  frontend/src/types/reviewer.d.ts
  frontend/src/utils/constants/key.ts
  frontend/src/utils/constants/message.ts
  frontend/src/utils/formatter.ts
Labels: 🔫 feature 🔫, 🧞‍♂️ FRONTEND 🧞‍♂️

#277 Auth 관련 인수 테스트 추가
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/OauthProvider.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/AccessTokenResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LoginResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/OauthTokenResponse.java
  backend/src/main/java/com/wootech/dropthecode/exception/ErrorResponse.java
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/FakeGithubController.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/LanguageAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/config/EmbeddedRedisConfig.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🕵🏻‍♀️ test 🕵🏻

#282 운영환경 refresh token expire time 2주로 설정
  backend/src/main/resources/application-prod.properties
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨

#285 리뷰관련 인수테스트 추가
  backend/src/main/java/com/wootech/dropthecode/dto/response/ProfileResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ReviewResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/ReviewsResponse.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/FakeGithubController.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/service/MemberServiceTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨, 🕵🏻‍♀️ test 🕵🏻

#290 로그인 한 멤버와 '내가 받은 리뷰' 조회 학생 id가 다른경우 예외처리 추가
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/LoginMember.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/LoginMemberTest.java
  backend/src/test/java/com/wootech/dropthecode/service/ReviewServiceTest.java
Labels: 🔫 feature 🔫, 🧞‍♀️ BACKEND 🧞‍♀️

#283 Member 관련 테스트 추가
  backend/src/main/java/com/wootech/dropthecode/dto/TechSpec.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/MemberResponse.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/repository/ReviewRepositoryCustomImplTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🕵🏻‍♀️ test 🕵🏻

#292 리뷰 생성 예외 처리 기능 구현
  backend/src/main/java/com/wootech/dropthecode/controller/ReviewController.java
  backend/src/main/java/com/wootech/dropthecode/domain/LoginMember.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/Review.java
  backend/src/main/java/com/wootech/dropthecode/service/ReviewService.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/auth/AuthenticationInterceptorTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/LoginMemberTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/ReviewTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🕵🏻‍♀️ test 🕵🏻, 🛠 fix 🛠

#294 테스트 보완
  backend/src/main/java/com/wootech/dropthecode/domain/Member.java
  backend/src/main/java/com/wootech/dropthecode/domain/oauth/OauthProperties.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/Review.java
  backend/src/main/java/com/wootech/dropthecode/repository/FeedbackRepositoryCustomImpl.java
  backend/src/main/java/com/wootech/dropthecode/service/FeedbackService.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/main/java/com/wootech/dropthecode/service/OauthService.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/FeedbackControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/LoginMemberTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/MemberTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/TeacherProfileTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/CompletedReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/PendingReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/wootech/dropthecode/service/MemberServiceTest.java
  backend/src/test/java/com/wootech/dropthecode/util/DatabaseCleanup.java
  backend/src/test/java/com/wootech/dropthecode/util/DatabaseDefaultInsert.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨, 🕵🏻‍♀️ test 🕵🏻

#297 인수테스트 추가 & 버그 수정
  backend/build.gradle
  backend/src/main/java/com/wootech/dropthecode/controller/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/wootech/dropthecode/domain/BaseEntity.java
  backend/src/main/java/com/wootech/dropthecode/domain/review/ProgressReview.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/FeedbackPaginationResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/FeedbackResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LanguageResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/LanguageSkillsResponse.java
  backend/src/main/java/com/wootech/dropthecode/dto/response/SkillResponse.java
  backend/src/main/java/com/wootech/dropthecode/repository/replication/ReplicationRoutingDataSource.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/main/java/com/wootech/dropthecode/service/TeacherService.java
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/data.sql
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/FeedbackAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/LanguageAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/LanguageControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/MemberControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/controller/ReviewControllerTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/MemberTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/TeacherProfileTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/CompletedReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/OnGoingReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/PendingReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/domain/review/ReviewTest.java
  backend/src/test/java/com/wootech/dropthecode/integration/review/ReviewServiceIntegrationTest.java
  backend/src/test/java/com/wootech/dropthecode/repository/replication/CircularListTest.java
  backend/src/test/java/com/wootech/dropthecode/service/AuthServiceTest.java
Labels: 🪲 bug 🪲, 🧞‍♀️ BACKEND 🧞‍♀️, 🔨 refactor 🔨, 🛠 fix 🛠

#300 주석 & 사용하지 않는 부분 제거
  backend/src/main/java/com/wootech/dropthecode/controller/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/wootech/dropthecode/service/MemberService.java
  backend/src/test/java/com/wootech/dropthecode/acceptance/AcceptanceTest.java
Labels: 🧞‍♀️ BACKEND 🧞‍♀️

#291 NODE_ENV 에러 처리
  frontend/babel.config.js
Labels: 🧞‍♂️ FRONTEND 🧞‍♂️, 🛠 fix 🛠
